.view {
   width: 260px;
   height: 170px;
   margin: 0 auto;
   
   border: 8px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   
}
.view .mask,.view .content {
   width: 100%;
   height: 156px;
   position: absolute;
   overflow: hidden;
    top: 0; left: 0; bottom: 0; right: 0;
   text-align: center;
}
.view img {
   display: block;
   position: relative;
   width: 100%;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 0 0 0 0;
}
.view p {
    width: 240px;
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 15px;
   position: relative;
   color: black;
   padding: 10px 5px 10px;
   text-align: center;
   font-weight: bold;
}
.view a.info {
   
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   
}
